<html>
  <body>
  <script src="static/index.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/index.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <div id="header">
    <h1 id="title">NLTK Tagger</font></h1>
  </div>
  <div id="body_container">
    <div id="input_container">
        <label>Article Title: <input id="article_title" style="width:465px;"/></label><br>
        <textarea id="article" cols=78 rows=32 placeholder="Article goes here."></textarea>
    </div> 
    <div id="divider" class="divider">
      <button>Auto-Tag</button><br>
    </div>
    <div id="output_container">
        <label>Suggested Tags</label><br>
        <textarea id="suggested_tags" cols=78 rows=32 id=input style="width:300px;" placeholder=""></textarea>
    </div>
  </div>
  </div>
  </body>
  </html>
